$card_border: none!important;
$card_border_radius: 0px!important;
.card {
    border: $card_border;
    border-radius: $card_border_radius;
    .form-control {
        border-radius: $card_border_radius;
    }
    .btn {
        border-radius: $card_border_radius;
    }
}